@typeparam TItem

@foreach (var post in Items)
{
    <div class="w3-card-4 w3-margin w3-white">
        @ItemTemplate(post)
    </div>
}

@code {
    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }
}