@inherits LayoutComponentBase
@using BlogEngine.Configuration
@using BlogEngine.Content
@using Microsoft.AspNetCore.Components.Routing
@inject IConfigurationManager ConfigurationManager
@inject PersonalSite.Extensions.Browser  Browser

<button @onclick="OnScrollToTopClick" id="scrollTopButton" class="btn" title="Go to top"><i class="fa fa-arrow-up"></i></button>

<NavBar>
    <NavLink href="" Match="NavLinkMatch.All"><i class="fa fa-home"></i> Home</NavLink>
    <DropButton Text="Blazor Samples">
        <NavLink href="counter">Counter</NavLink>
        <NavLink href="fetchdata">Fetch Data</NavLink>
    </DropButton>
</NavBar>

<div class="header">
    <a href="/"><h1>@title</h1></a>
    <p>@subtitle</p>
</div>

<div class="container">
    <div class="row">
        <div class="leftcolumn">
            @Body
        </div>
        <div class="rightcolumn">
            <AboutMeCard></AboutMeCard>
            <Card>
                <a href="https://www.essiq.se/">
                    <img src="images/essiq-logo.png" style="width: 100%; margin-top: 20px; ">
                </a>
            </Card>
            <SocialCard></SocialCard>
        </div>
    </div>
</div>

<div class="footer">
    <span>Copyright &copy; Robert Sundstr&ouml;m @DateTime.Now.Year</span>
    <div>
        <span>Powered by <a href="https://blazor.net/">Blazor</a> | Hosted by <a href="https://www.github.com/pages">GitHub Pages</a></span>
    </div>
</div>

@functions {
    IConfiguration configuration;
    string title;
    string subtitle;

    protected override async Task OnInitializedAsync()
    {
        await ConfigurationManager.LoadConfigurationAsync();
        configuration = ConfigurationManager.Configuration;
        title = configuration.GetValue<string>("Title");
        subtitle = configuration.GetValue<string>("Subtitle");
        await base.OnInitializedAsync();
    }

    private void OnScrollToTopClick(MouseEventArgs ev)
    {
        Browser.TopFunction();
    }
}