@inherits LayoutComponentBase
@using BlogEngine.Configuration
@using BlogEngine.Content
@using Microsoft.AspNetCore.Components.Routing
@inject IConfigurationManager ConfigurationManager
@inject PersonalSite.Extensions.Browser  Browser

<button @onclick="OnScrollToTopClick" id="scrollTopButton" class="w3-btn w3-black" title="Go to top"><i class="fa fa-arrow-up"></i></button>

<NavBar></NavBar>

<!-- Page content -->
<div class="w3-content" style="max-width:1400px;margin-top:46px">

  <header class="w3-container w3-center w3-padding-32"> 
    <h1><b><a href="/">C/:ODE</a></b></h1>
    <p>The blog of <span class="w3-tag">Robert Sundström</span></p>
  </header>

<div class="w3-row">

  <!-- Blog entries -->
  <div class="w3-col l8 s12">
    @Body
  </div>

  <!-- Introduction menu -->
  <div class="w3-col l4">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
      <img src="/images/portrait.png" style="width:100%">
      <div class="w3-container w3-white">
        <MarkdownDisplay ContentUrl="content/aboutme.md"></MarkdownDisplay>
    </div>
    </div><hr>

    <div class="w3-card w3-margin">
      <div class="w3-container w3-padding">
        <h4>Follow me</h4>
      </div>
      <div class="w3-container w3-white">
      <p><div class="social">
        <a href="https://www.linkedin.com/in/robertsundstrom" title="LinkedIn" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://www.github.com/robertsundstrom" title="GitHub" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://stackoverflow.com/users/848967" title="Stack Overflow" target="_blank">
            <i class="fab fa-stack-overflow fa-2x"></i>
        </a>
        <a href="https://www.twitter.com/robertsundstrom" title="Twitter" target="_blank">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/robert_sundstrom" title="Instagram" target="_blank">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCVdav9wE4kmtiEuk1_vG2_g" title="YouTube" target="_blank">
            <i class="fab fa-youtube fa-2x"></i>
        </a></div>
      </p>
      </div>
    </div>
    
    <!-- Posts -->
      @*  <div class="w3-card w3-margin">
      <div class="w3-container w3-padding">
        <h4>Popular Posts</h4>
      </div>
      <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li> 
        <li class="w3-padding-16">
          <img src="/w3images/skies.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Dorum</span><br>
          <span>Ultricies congue</span>
        </li>   
        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
          <img src="/w3images/rock.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Mingsum</span><br>
          <span>Lorem ipsum dipsum</span>
        </li>  
      </ul>
    </div>
    <hr> *@
  
    <!-- Labels / tags -->
    @* <div class="w3-card w3-margin">
      <div class="w3-container w3-padding">
        <h4>Tags</h4>
      </div>
      <div class="w3-container w3-white">
      <p><span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">London</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">IKEA</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">NORWAY</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">DIY</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Baby</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Family</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Clothing</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Games</span>
      </p>
      </div>
    </div> *@
  </div>
  </div>

</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
  <p>Copyright &copy; Robert Sundström @DateTime.Now.Year</p>
  <span>Powered by <a href="https://blazor.net/" target="_blank">Blazor</a> and <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a> | Hosted by <a href="https://www.github.com/pages" target="_blank">GitHub Pages</a></span>
</footer>

@code {
    IConfiguration configuration;
    string title;
    string subtitle;

    protected override async Task OnInitializedAsync()
    {
        await ConfigurationManager.LoadConfigurationAsync();
        configuration = ConfigurationManager.Configuration;
        title = configuration.GetValue<string>("Title");
        subtitle = configuration.GetValue<string>("Subtitle");
        await base.OnInitializedAsync();
    }

    private async Task OnScrollToTopClick(MouseEventArgs ev)
    {
        await Browser.TopFunction();
    }
}