<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="counter" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Counter</a>
    <a href="fetchdata" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Fetch data</a>
        @*
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#" class="w3-bar-item w3-button">Merchandise</a>
        <a href="#" class="w3-bar-item w3-button">Extras</a>
        <a href="#" class="w3-bar-item w3-button">Media</a>
      </div>
    </div> *@
    @* 
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="fab fa-facebook"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="fab fa-instagram"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="fab fa-snapchat"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="fab fa-flickr"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="fab fa-twitter"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hide-small"><i class="fab fa-linkedin"></i></a>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-padding-large"><i class="fa fa-search"></i></a> *@
  </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="counter" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Counter</a>
  <a href="fetchdata" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Fetch data</a>
</div>
