<Card>
    <h3>Follow Me</h3>
    <div class="social">
        <a href="https://www.linkedin.com/in/robertsundstrom" title="LinkedIn" target="_blank">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://www.github.com/robertsundstrom" title="GitHub" target="_blank">
            <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="https://stackoverflow.com/users/848967" title="Stack Overflow" target="_blank">
            <i class="fab fa-stack-overflow fa-2x"></i>
        </a>
        <a href="https://www.twitter.com/robertsundstrom" title="Twitter" target="_blank">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/robert_sundstrom" title="Instagram" target="_blank">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCVdav9wE4kmtiEuk1_vG2_g" title="YouTube" target="_blank">
            <i class="fab fa-youtube fa-2x"></i>
        </a>
    </div>
</Card>