@page "/"
@using PersonalSite.Services
@using PersonalSite.Extensions
@using W3.UI.Components
@inject IConfigurationService ConfigurationService
@inject Browser Browser
@inject Site Site

@if (isLoading)
{
    <Card>
        <Loader></Loader>
    </Card>
}
else
{
    <PostList Posts="@Site.Posts"></PostList>

    @if (Site.Posts.Count > 6)
    {
        <div style="margin-top: 20px;">
            <Pagination PageCount="10" WindowIndex="0"></Pagination>
        </div>
    }
}

@functions {
    bool isLoading = true;

    protected override async Task OnInitAsync()
    {
        await base.OnInitAsync();

        var configuration = await ConfigurationService.GetConfigurationAsync();

        await Browser.SetDocumentTitleAsync($"{configuration.Title}");

        await Site.LoadContentAsync();

        isLoading = false;
    }
}