@using PersonalSite.Services

<h1><a href="/@GetUrlFromFullSlug(Post.FrontMatter.Slug)">@Post.FrontMatter.Title</a></h1>
<h5>@Post.FrontMatter.Date.ToLocalTime()</h5>
@if (Post.FrontMatter.Image != null)
{
    <img class="fakeimg" style="height:200px;" src="@Post.FrontMatter.Image">
}
<MarkdownView Truncate="true" Content="@Post.Content"></MarkdownView>

<a class="btn gray" href="/@GetUrlFromFullSlug(Post.FrontMatter.Slug)">Read more</a>

@functions {
    [Parameter]
    private ContentPage Post { get; set; }

    static string GetUrlFromFullSlug(string path)
    {
        var parts = path.Split('-');
        return $"{parts[0]}/{parts[1].ToString().PadLeft(2, '0')}/{parts[2].ToString().PadLeft(2, '0')}/{string.Join("-", parts.Skip(3))}";
    }
}