<div class="w3-container" style="width: 97%;">
  <div class="animated-background" style="height: 40px;width: 90%;"></div>
  <div class="animated-background" style="height: 35px; width: 30%;"></div>
  <div class="animated-background" style="width: 98%;"></div>
  <div class="animated-background" style="width: 99%;"></div>
  <div class="animated-background" style="width: 94%;"></div>
  <div class="animated-background" style="width: 100%;"></div>
  <div class="animated-background" style="width: 99%;"></div>
  <div class="animated-background" style="width: 96%;"></div>
  <div class="animated-background" style="width: 100%;"></div>
  <div class="animated-background" style="width: 98%;"></div>
  <div class="animated-background" style="width: 40%;"></div>
</div>