body {
    font-family: Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

code {
    font-family: 'Cascadia Code' !important;
    src: url(/fonts/Cascadia.ttf);
    font-size: 12px !important;
    border: 1px solid lightgray;
}

.hljs-ln-numbers {
    padding-right: 15px !important;
}

#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    background-color: #b56161;
    color: white;
  }
  
  .btn {
    text-decoration: none;
  }


#loader {
    left: 50%;
    top: 50%;
    z-index: 1;
    position: absolute;
    margin: -75px 0 0 -75px;
  }

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

table th {
    font-weight: bold;
}

h1>b>a {
    text-decoration: none;
}

h1>b>a:hover {
    text-decoration: underline;
}

@keyframes placeHolderShimmer{
    0%{ background-position: -650px 0; }
    100%{ background-position: 650px 0; }
}

.animated-background {
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8; // Fallback
    background: linear-gradient(to right, #eee 2%, #ddd 18%, #eee 33%);
    background-size: 800px 104px;
    height: 20px;
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
}

#disqus_thread {
    margin: 16px;
}

.social {
    .fab {
        padding-right: 12px;
        margin: 5px;
    }

    .fab:hover {
        opacity: 0.7;
    }

    a {
        text-decoration: none !important;
    }
}

.fa-facebook {
    color: #3B5998;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-instagram {
    color: #125688;
}

.fa-youtube {
    color: #bb0000;
}