$accentColor: #e8855e;;
$backgroundColor: #f1f1f1;;

body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' !important;
    background-color: $backgroundColor;
}

.row {
    padding: 20px;
}

.container {
    .row {
        margin: 0 auto 0 auto;
        max-width: 1024px;
    }
}

/* Header/Blog Title */
.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    //background-color: $accentColor !important;
    background-image: url("../images/illustration.png") !important;

    h1 {
        display: block;
        font-size: 2em;
        font-weight: bold;
    }

    p {
        display: block;
    }

    a {
        text-decoration: none;
    }
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
}

.table th {
    background-color: $accentColor !important;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .header {
        h1 {
            font-size: 1.2em;
        }

        p {
            font-size: 0.8em;
            margin: 0 0 10px 0;     
        }
    }

    .row {
        padding: 5px;
    }

    .card {
        margin-top: 0;
        padding: 2px 12px 12px 12px !important;
    }
}

@media screen and (min-width: 600px) {
    .card {
        padding: 5px 20px 20px 20px !important;
    }
}

.photo {
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.navbar {
    .active {
        background-color: transparent !important;
    }
}

.navbar a:hover, .navbar .dropdown:hover .dropbtn {
    color: white;
}

/* Add a grey background to dropdown links on hover */
.navbar .dropdown-content a:hover {
    background-color: lightgray !important;
    color: black;
}

.social {
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    a:active {
        text-decoration: none;
    }

    .fab {
        margin-left: 7px;
    }
}

.card {
    h5 {
        font-size: 13px;
    }

    h1 {
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .loader {
        margin: 25% auto 25% auto;
    }
}

code {
    border: 1px #eaeaea solid;
}

#loader {
    left: 50%;
    top: 50%;
    z-index: 1;
    position: absolute;
    margin: -75px 0 0 -75px;
}

/* Loader */
.loader {
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.social {
    .fab {
        padding-top: 12px;
        width: 50px;
        height: 50px;
        text-align: center;
        text-decoration: none;
    }

    .fab:hover {
        opacity: 0.7;
    }
}

.share {
    .fab {
        padding-right: 12px;
    }

    .fab:hover {
        opacity: 0.7;
    }
}

.fa-facebook {
    color: #3B5998;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-linkedin {
    color: #007bb5;
}

.fa-instagram {
    color: #125688;
}

.fa-youtube {
    color: #bb0000;
}


#scrollTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    background-color: #e36a3c;
    color: white;
}

.btn  {
    text-decoration: none;
}

.navbar {
    .dropdown {
        .active {
            color: gray !important;
        }
    }
}